body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    position: relative; /* Position relative for layout */
    z-index: 100; /* Ensure header is above other content */
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Adjust size as needed */
    height: auto;
    margin-right: 15px;
}

header h1 {
    margin: 0;
    font-size: 24px;
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(80vh - 60px); /* Adjust height to account for header */
    padding: 20px;
    margin-top: 10px; /* Add space between header and container */
}

.login-box {
    display: flex;
    background-color: white;
    padding: 40px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1200px;
    border-radius: 10px;
}

.title {
    flex: 1;
    padding-right: 50px;
    border-right: 2px solid #ddd;
}

.title h1 {
    margin: 0;
    font-size: 60px; /* Default size */
}

/* Media query for 1000px and below */
@media (max-width: 1000px) {
    .title h1 {
        font-size: 40px; /* Change to 40px when screen width is 1000px or less */
    }
}

.form {
    flex: 1;
    padding-left: 50px;
}

button {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
}

button:hover {
    background-color: #45a049;
}

/* Responsive styles */
@media (max-width: 768px) {
    .login-box {
        flex-direction: column;
        padding: 20px;
    }

    .title {
        padding: 0;
        border: none;
        text-align: center;
        margin-bottom: 20px;
    }

    .form {
        padding: 0;
    }

    button {
        padding: 10px;
        width: 100%; /* Ensures the width is consistent on small screens */
    }
}

@media (max-width: 480px) {
    button {
        padding: 10px;
        width: 100%; /* Ensures alignment and full width on smaller screens */
    }

    .title h1 {
        font-size: 28px;
    }
}
